/* PC */
@media (min-width: 1024px){
    #header .menu-icon{
        display: none;
    }
}

/* Tablet */
@media (min-width: 740px) and (max-width: 1023px) {
    #header .menu-icon{
        display: none;
    }
}

/* Mobile */
@media (max-width: 739px){
    .s-full-width,
    .s-col-full {
        width: 100%!important;
    }

    .s-mt-8 {
        margin-top: 8px;
    }

    #header {        
        overflow: hidden;
        }
    
    #header .search-btn {
        display: none;
    }

    #header .mobile-menu {
        position: absolute;
        top: 0px;
        right: 0px;
    }    

    #header li:first-child {
        display: inline-block;
    }

    #header .subnav li:first-child {
        display: block;
    }

    #nav {
        display: block;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;
    }

    #nav .subnav a {
        padding: 1px 40px;
    }

    #nav > li {
        display: block;
    }

    #nav .subnav li a {
        color: #fff;
    }

    #content .members-list .member-img {
        width: 80%;
    }

    #content .members-list .member-name-first {
        margin-top: 40px!important;
    }


    #content .members-list .member-name {
        margin: 15px 0 0;
    }
}